<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:jdbc_oracle_betForUnit.properties" />

	<bean name="dataSourceOracleBetForUnit" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="${dburl}" />
		<property name="username" value="${dbusername}" />
		<property name="password" value="${dbpassword}" />
	</bean>

	<bean name="sqlSessionFactoryOracleTest" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceOracleBetForUnit" />
		<property name="configLocation" value="/mybatisConfig/mybatis-config-oracle-gameissue.xml" />
		<property name="typeHandlersPackage"
			value="com.aicaipiao.commondao.example.domain.typehandler" />
		<!-- <property name="typeAliasesPackage" value="com.aicaipiao.commondao.example.domain" 
			/> -->
	</bean>

	<bean name="mainMyBatisTemplateOracle" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactoryOracleTest" />
	</bean>

	<bean name="transactionManagerOracle"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceOracleBetForUnit" />
	</bean>
</beans>